<div class="jumbotron text-left">
  <nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand"><i class="fa fa-user"></i> &nbsp; {{ cm.currentUserFirstName }}</a>
	    </div>
	   	<!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li><a href="#/"> <i class="fa fa-tachometer"></i>&nbsp; Dashboard <span class="sr-only">(current)</span></a></li>
	        <li><a href="#/bills/"> <i class="fa fa-book"></i>&nbsp; Bills <span class="sr-only">(current)</span></a></li>
	        <li class="active"><a href="#/companies"> <i class="fa fa-users"></i>&nbsp; Companies <span class="sr-only">(current)</span></a></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="#/" ng-click="cm.logout()"><i class="fa fa-sign-out"></i>&nbsp; Logout</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	<div class="panel panel-default panel-info">
	  <!-- Default panel contents -->
	  <div class="panel-heading"><h5>Companies <span ng-if="companyList.length > 0" class="badge">{{companyList.length}}</span></h5></div>
	  <div class="panel-body">
	  	<div class="container-fluid">
		  	<div ng-if="companyList.length == 0">
		  		<div class="alert alert-warning alert-dismissible" role="alert">
		  		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		  		You have not added any Company to the system.</div>
		  	</div>
		</div>
	  	<nav class="navbar navbar-default">
	  	
	  	<form class="navbar-form navbar-left" name="form" role="form" ng-submit="cm.addCompany()">
	  		<div class="form-group form-group-sm">
				<div class="input-group input-group-sm">
					<div class="input-group-addon"><i class="fa fa-search"></i></div>
					<input type="text" name="searchCompany" id="searchCompany" class="form-control" ng-model="searchCompany" placeholder="Search company" />
				</div>
				
				&nbsp;&nbsp;&nbsp;<div class="input-group input-group-sm">
					<div class="input-group-addon"><i class="fa fa-briefcase"></i></div>
					<input type="text" name="company" id="company" class="form-control" placeholder="Add new Company" ng-model="cm.company" required />
				</div>
				<button type="submit" ng-disabled="form.$invalid" class="btn btn-sm btn-primary"><i class="fa fa-plus-square"></i> &nbsp;Add&nbsp;</button>
				<span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Company name is mandatory</span>
			</div>
		</form>
		<div ng-if="addCompanyStatus == 'OK'">
			<div class="alert alert-success " role="alert"><i class="fa fa-check-square"></i>&nbsp;
			<button type="button" class="close" ></button>
				{{addCompanyResult}}
			</div>
		</div>
		<div ng-if="addCompanyStatus == 'ERROR'">
			<div class="alert alert-danger " role="alert"><i class="fa fa-exclamation-triangle"></i>&nbsp;
				<button type="button" class="close" ></button>
				{{addCompanyResult}}
			</div>
		</div>
		</nav>
	  <!-- Table -->
	  <table ng-if="companyList" class="table table-bordered table-striped">
	  	<thead>
	  		<tr>
	  			<th>
	  				<a ng-click="sortType = 'name'; sortReverse = !sortReverse">
				        Companies
				        <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
				        <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
				    </a>
	  			</th>
	  		</tr>
	  	</thead>
	  	<tbody>
		  	<tr ng-repeat="company in companyList | orderBy:sortType:sortReverse | filter:searchCompany">
		 		<td>{{ company.name }}</td>
			</tr>
		</tbody>
	  </table>
	</div>
</div>